robot:
  name: Gandiwa
  role: ATTACKER

camera:
  src:
    - 0
    - "/Users/hariangr/Documents/MyFiles/Developer/Robotec/Beroda/ng/BrainDead/assets/captured/2021-04-23 14:50:34.157190 x 60.00024.1280.0.720.0.mp4"
    - "C:/Users/root/Documents/hariangr/temp.mp4"
    
  # Punya kamera 0 Mac
  # midpointX: 309
  # midpointY: 232
  # midpointRad: 213
  
  # Punya video
  # midpointX: 583
  # midpointY: 405
  # midpointRad: 269
  # rawWidth: 1280
  # rawHeight: 720
  # robFrontOffsetDeg: -90

  # Punya kemera TOP GANDIWA
  midpointX: 917
  midpointY: 597
  midpointRad: 383
  rawWidth: 1920
  rawHeight: 1080
  robFrontOffsetDeg: -90

  useDshow: true
  postWidth: 640
  postHeight: 640

# Satuannya nanosecond guys
expiration:
  ball: 1500000000
  my: 1500000000

telepathy:
  # chitchatHost: "192.168.1.4:6901"
  chitchatHost: "localhost:6901"

serial:
  ports:
    - "/dev/cu.usbmodem141101"
    - "COM10"
  commandHz: 60

diagnostic:
  telemetryHz: 60
  enableStream: true
  streamHost: "localhost:6910"
  streamTopProcessed: true

wanda:
  minimumHsvArea: 50
  maximumHsvArea: 10000 # Kadang kadang dia full frame di detek

migraine:
  migraineHz: 60

fulfillment:
  defaultDurationMs: 2000

mecha:
  horizontalForceRange: 100
  verticalForceRange: 100
  rotationForceRange: 50

commandParameter:
  lookatToleranceDeg: 10