robot:
  name: Gandiwa
  role: ATTACKER

camera:
  src:
    - 0
  useDshow: true

# Satuannya nanosecond guys
expiration:
  ball: 1500000000
  my: 1500000000

telepathy:
  server: localhost:6901

serial:
  ports:
    - "/dev/cu.usbmodem14401"
    - "COM10"

diagnostic:
  telemetryHz: 60